extends ../layouts/default

block content
	.container
		.row
			.col-xs-12
				.well
					if expenseSubmitted
						h3 Expense added successfully.
					else
						.row
							form.form-inline(method='post')
								input(type='hidden', name='action', value='addExpense')
								input(type='hidden', name='user', value='#{ user.name.first }')
								.form-group.col-md-4(class=validationErrors.store ? 'has-error' : null)
									label.sr-only Store/Service
									input(type='text', name='store', value=formData.store, placeholder='Store/Service').form-control
								.form-group.col-md-4(class=validationErrors.memo ? 'has-error' : null)
									label.sr-only Memo
									input(type='text', name='memo', value=formData.memo, placeholder='Memo').form-control
								.form-group.col-md-2(class=validationErrors.cost ? 'has-error' : null)
									label.sr-only Cost
									.input-group
										.input-group-addon $
										input(type='number', name='cost', value=formData.cost, placeholder='0.00', min='0.00', step='0.01').form-control
								.form-actions.col-md-2
									button(type='submit').btn.btn-primary Add Expense

	.container
		.row
			.col-xs-12
				table#expense-table.table.table-striped
					thead
						tr
							th Name
							th Store/Service
							th Memo
							th Cost
							th Date
							th
					tbody
						if expenses.length > 0
							tr(v-for='expense in expenses')
								td(v-text='expense.user')
								td(v-text='expense.store')
								td(v-text='expense.memo')
								td(v-text='"$" + expense.cost')
								td(v-time='expense.createdAt')
								td(v-if='expense.user == user.name.first')
									button(v-on:click='deleteExpense(expense._id)').btn-delete: i.fa.fa-trash
						else
							tr
								td(colspan='6'): p.text-center No expense items found.
					tfoot
						tr
							td
							td
							td: strong Total
							td= totals.all
							td
							td
							td

			.col-sm-4.col-sm-offset-8
				table.table.table-striped
					thead
						tr
							th Name
							th Expense Total
							th Expense Share
							th Balance
					each userTotal in totals.individual					
						tr
							td= userTotal.user
							td= userTotal.total
							td= ' - ' + totals.share
							if userTotal.balance < 0 
								td(class="red")= userTotal.balance
							else
								td(class="green")= userTotal.balance

block js
	script.
		window.BUDGETBUDDY = window.BUDGETBUDDY || {};
		window.BUDGETBUDDY.data = window.BUDGETBUDDY.data || {};
		window.BUDGETBUDDY.data.userId = "#{user._id}" || {};
